---
title: home
layout: default
class: inverted
---

<div class="box">
  {% for moment in site.moments reversed %}
  <section class="moment-box">
    <figure class="moment {% if moment.orientation == "portrait" %}portrait{% endif %}">
      <img src="/serving/moments/{{ moment.name }}.jpg" alt="{{ moment.name }}">
      <figcaption class="moment-caption">
        <p class="moment-location">{{ moment.location }}</p>
        <p class="moment-date"><time>{{ moment.date }}</time></p>
        {{ moment.content }}
      </figcaption>
    </figure>
  </section>
  {% endfor %}
</div>
