/*---------------------------------------------------------------------------//

  Partial: Header

  Site-wide header and navigation foodstuffs.

//---------------------------------------------------------------------------*/

$font-serif: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif;
$font-sans-sc: "Whitney SSm SC A", "Whitney SSm SC B", $font-sans;

.site-header {
  border-bottom: 1px solid #d3d3d3;
}

.site-nav__wrap {
  max-width: 768px;
  margin: 0 auto;

  @media (max-width: 800px) {
    max-width: 90%;
  }
}

.site-nav {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.site-nav__home {
  text-decoration: none;
}

.site-nav__logo {
  margin-top: 1px;
  padding-top: 18px;
  padding-bottom: 13px;
}

.site-nav__title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  display: none;
}

.site-nav__slug {
  width: auto;
  display: inline-block;
  margin-left: 0.5em;
  margin-top: 2px;

  vertical-align: top;

  font-family: $font-serif;
  font-style: italic;
  font-weight: normal;
  color: #aaa;

  @media (max-width: $breakpoint-small) {
    display: none;
  }
}

.site-nav__menu {
  float: right;
  display: inline-block;
  margin-top: 4px;

  list-style-type: none;

  li {
    float: left;
    margin-left: 2em;
    margin-top: -3px;
  }
}

.site-nav__item {
  display: block;

  font-family: $font-sans-sc;
  text-decoration: none;
  text-transform: lowercase;
}

.js-nav-highlight {
  border-bottom: 4px solid $red;
}
