/*---------------------------------------------------------------------------//

  Partial: Layout

  Specific stylings for sections go here.

//---------------------------------------------------------------------------*/

.site-wrap {
  max-width: 960px;
  margin: 0 auto;

  @media (max-width: $breakpoint-medium) {
    max-width: 92%;
  }
}

.content-wrap {
  margin: 0 auto;
  max-width: 600px;
}
