<head>
  <title>{{ page.title }} // WIKICHEN</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- custom multitasking header for Chrome on Android 5.0 -->
  <meta name="theme-color" content="#C0362C">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feeding">
  <link rel="shortcut icon" href="/touch-icon.png">
  <link rel="apple-touch-icon-precomposed" href="/touch-icon.png">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/main.css">
  <script src="//use.typekit.net/ggd0zlr.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  {% include tracking.html %}
</head>
