<header class="site-header" role="banner">
  <div class="site-intro">
    <a class="text-link" href="/">WIKICHEN</span></a> is Jonathan E. Chen.
  </div>
  <nav class="site-nav" role="navigation">
    <ul>
      <li class="site-nav-item {% if page.url == '/index.html' %}active{% endif %}"><a href="/">Now</a></li>
      <li class="site-nav-item {% if page.url == '/writing/index.html' %}active{% endif %}"><a href="/writing/">Archive</a></li>
      <li class="site-nav-item {% if page.url == '/capturing/index.html' %}active{% endif %}"><a href="/capturing/">Photos</a></li>
    </ul>
  </nav>
</header>
