<head>
  {% if page.title == "Home" %}
  <title>{{ site.name }}</title>
  {% else %}
  <title>{{ page.title }} &middot; {{ site.name }}</title>
  {% endif %}
  {% include meta.html %}
  {% include twitter_card.html %}
  <link rel="stylesheet" href="//cloud.typography.com/7354672/786004/css/fonts.css">
  <link rel="stylesheet" href="/assets/css/main.min.css">
  <script type="text/javascript" src="//use.typekit.net/ggd0zlr.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  {% include tracking.html %}
</head>
