<nav class="site-nav__dropdown" id="site-nav-dropdown">
  <div class="site-wrap">
    <div class="site-nav__sections grid">
      <section class="nav-section">
        <div class="nav-section__title">Amuse-bouche</div>
          <a class="nav-section__item" href="/jonathan/">
            <h3 class="nav-item__title">About</h3>
            <p class="nav-item__description">Short but sweet biography, served with a side of colophon.</p>
          </a>
          <a class="nav-section__item" href="/writing/">
            <h3 class="nav-item__title">Journal</h3>
            <p class="nav-item__description">Marinated posts with hints of interaction and life design.</p>
          </a>
      </section>
      <section class="nav-section">
        <div class="nav-section__title">Entrée</div>
          <a class="nav-section__item" href="/working/">
            <h3 class="nav-item__title">Projects</h3>
            <p class="nav-item__description">A grand showcase of pixels cooked sous vide. Seasonal.</p>
          </a>
          <a class="nav-section__item" href="/cheese-bored/">
            <h3 class="nav-item__title">Stories</h3>
            <p class="nav-item__description">Words &amp; craft in concert create a sensual experience.</p>
          </a>
      </section>
      <section class="nav-section">
        <div class="nav-section__title">Dessert</div>
          <a class="nav-section__item" href="#">
            <h3 class="nav-item__title">Library</h3>
            <p class="nav-item__description">Literary confections garnished with bite-sized reviews.</p>
          </a>
          <a class="nav-section__item" href="/personal/">
            <h3 class="nav-item__title">Letters</h3>
            <p class="nav-item__description">Omakase in the form of a monthly personal newsletter.</p>
          </a>
      </section>
      <hr class="nav-divider">
      <section class="nav-social">
        <p class="nav-social__description">Chef’s tasting menu meticulously prepared by Jonathan E. Chen. For inquiries or reservations, please reach out using any of the following:</p>
        <ul class="nav-social__icons">
          <li><a class="icon__email" href="mailto:hello@wikichen.is">
            <img src="/assets/images/email.svg"></a></li>
          <li><a class="icon__twitter" href="https://twitter.com/wikichen">
            <img src="/assets/images/twitter.svg"></a></li>
          <li><a class="icon__dribbble" href="https://dribbble.com/wikichen">
            <img src="/assets/images/dribbble.svg"></a></li>
          <li><a class="icon__github" href="https://github.com/wikichen">
            <img src="/assets/images/github.svg"></a></li>
          <li><a class="icon__facebook"  href="https://www.facebook.com/jonathanechen">
            <img src="/assets/images/facebook.svg"></a></li>
        </ul>
      </section>
    </div>
  </div>
</nav>
