/*---------------------------------------------------------------------------//

  Partial: Variables

  Store all the global variables here, por favor.

//---------------------------------------------------------------------------*/


// unit sizes
$base: 16;
$base-font-size: ($base/16)*100%;
$baseline-size: 28 / (16 * ($base-font-size/100%));
$baseline: $baseline-size * 1rem;

// fonts
$font-serif: Georgia, serif;
$font-sans: brandon-grotesque, Verdana, Helvetica, sans-serif;
$font-display: freight-display-pro, Georgia, 'Times New Roman', serif;
$font-mono: fira-mono, Monaco, Courier, Verdana, monospace;

// colors
$red: #f7564b;
$orange: #f7564b;

$white: #fff;
$black: #222;
$gray: #444;
$light-gray: #aaa;
$lighter-gray: #d4d4d4;

// breakpoints
$breakpoint-small: 30em;
$breakpoint-medium: 48em;
$breakpoint-large: 75em;
