/*---------------------------------------------------------------------------//

  Partial: Variables

  Store all the global variables here, por favor.

//---------------------------------------------------------------------------*/


// unit sizes
$base: 16;
$base-font-size: ($base/16)*100%;
$baseline-size: 28 / (16 * ($base-font-size/100%));
$baseline: $baseline-size * 1rem;

// fonts
$font-serif: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, 'Times New Roman', serif;
$font-sans: 'Whitney SSm A', 'Whitney SSm B', Verdana, Helvetica, sans-serif;
$font-sans-sc: "Whitney SSm SC A", "Whitney SSm SC B", $font-sans;

$font-code: 'Source Code Pro', Monaco, Courier, Verdana, monospace;

// colors
$red: #f7564b;
$orange: #f7564b;

$white: #fff;
$black: #333;
$gray: #463f40;
$light-gray: #aaa;
$lighter-gray: #d4d4d4;

// breakpoints
$breakpoint-small: 30em;
$breakpoint-medium: 48em;
$breakpoint-large: 75em;
