---
title: remembering
layout: blank
---
<body class="moments">
  {% include header.html %}

  <main class="container">
    <div class="moments-intro">
      For me, taking photos has always been about remembering &mdash; this is an attempt to document the memories I hold dear.
    </div>

    {% for moment in site.moments reversed %}

    {% capture modulo %}{{ forloop.index0 | mod:2 }}{% endcapture %}

    {% if moment.orientation == "portrait" %}
    <section class="moment-box">
    <div class="row">
      <figure class="moment">
        <div class="four columns offset-by-two">
          <figcaption>
            <h2 class="moment-location">{{ moment.location }}</h2>
            <p class="moment-date"><time>{{ moment.date }}</time></p>
            {{ moment.content }}
          </figcaption>
        </div>
        <div class="moment-photo six columns">
          <img src="/serving/moments/{{ moment.name }}.jpg">
        </div>
      </figure>
      </div>
    </div>
    </section>

    {% else %}
    <section class="moment-box">
    <div class="row">
      <figure class="moment">
        <div class="nine columns">
          <img src="/serving/moments/{{ moment.name }}.jpg">
        </div>
        <div class="three columns">
          <figcaption>
            <h2 class="moment-location">{{ moment.location }}</h2>
            <p class="moment-date"><time>{{ moment.date }}</time></p>
            {{ moment.content }}
          </figcaption>
        </div>
      </figure>
      </div>
    </div>
    </section>

    {% endif %}

    {% endfor %}
  </main>
