---
title: About
layout: default
---
<body class="page--about" id="about-page">
  {% include header.html %}
  <div class="site-wrap about__content">
    <div class="grid">
      <div class="about__photo grid__col--2-of-2">
        <img src="/assets/images/profile.jpg" alt="Jonathan E. Chen">
      </div>
      <section class="grid__col--10-of-12 grid__col--centered">
        <h2>About Me</h2>
        <p>Hi there! My name is Jonathan E. Chen, and I go by wikichen on the web. I’m an interaction designer with a penchant for code.</p>
        <p>
          In 2012, I graduated Carnegie Mellon University with a B.S. in computer science. After college, I forwent engineering job offers to find my true passion—I moved to San Francisco and found home at an entrepreneurial hostel called StartupHouse. Aside from taking up a hacker-in-residence role there, I ran a network of Airbnb apartments that generated a 6-figure passive income stream for myself. I also discovered that freelance work isn’t for me after a few contract jobs doing Android development.
        </p>
        <p>
          In 2013, I relocated to North Carolina to found a healthcare startup. It imploded before it even launched, but in its wake my passion for design began to surface and crystalize. I moved back to San Francisco, and for the second half of the year I would work as a product designer at a sharing economy startup called yerdle. There I learned that my ideal design role allows me to flex my coding muscles from time to time.
        </p>
        <p>
          In 2014, I moved to Mountain View to undergo Y Combinator with a friend on a nonprofit edutech startup. I led product there until we realized that we had different ideas about what was important and that sadly, it wasn’t going to work out. I left YC, but my fondness for startups remains. I still want to build a company someday—eventually with the right people and the right product.
        </p>
        <p>I've since been committed to pursuing my passion for design full-time, and I'm currently looking for opportunities. <a href="mailto:hello@wikichen.is">Say hello</a>.</p>
      </section>
      <section class="grid__col--10-of-12 grid__col--centered">
        <h2>Colophon</h2>
        <p>
          Mise en place, pronounced <em>meez-ahn-plahs</em>, is a culinary technique whereby all ingredients are prepared and ready to go before the act of cooking begins. Translated from French, it means “to put in place”. The site is so named, because it’s the same approach I’m taking with my small corner of the Internet—everything in one place. You’ll learn more about me here than you will anywhere else, short of interacting with me in person. In case it’s not apparent, food comes only second to my love for design, my <em>raison d'être</em>.
        </p>
        <p>
          If you want to learn about what’s under the hood, I’ve written extensive documentation on how the site is developed and maintained. You can <a href="https://github.com/wikichen/mise-en-place">check out the source code and documentation</a> on GitHub. I believe in sharing what you know—if you learn something from me, pay it forward!
        </p>
      </section>
    </div>
  </div>
  {% include scripts.html %}
</body>
