/*---------------------------------------------------------------------------//

  Partial: Index

  Styles for index pages.

//---------------------------------------------------------------------------*/

.page--about {

  .about__content {
    margin-top: $baseline*2;

    section {
      margin-top: $baseline*2;
      margin-bottom: $baseline*2;
    }

    h2 {
      margin-bottom: 0.5em;

      font-family: $font-sans;
      font-size: 1.25em;
    }

    @media (max-width: $breakpoint-medium) {
      margin: 0 auto;
      max-width: 92%;
    }
  }
}
