

.site__home {

  .home__intro {
    //min-height: 150px;
    margin-top: 4em;
    margin-bottom: 4em;
  }

  .intro__quote {
    margin: 0 auto;
    padding: 0;
    max-width: 20em;

    font-family: $font-sans;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;

    color: $black;
    border: none;

    p {
      padding: 1em;
      margin-bottom: 0;

      border: 4px solid;
      background: -webkit-linear-gradient(transparent, transparent),
               url(/assets/images/exploratorium-kid.jpg) no-repeat fixed;
      background-size: 100% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width: $breakpoint-small) {
        background-attachment: scroll;
      }
    }

    footer {
      float: right;
      display: inline;
      margin-top: 0.5rem;

      font-size: 0.875rem;
      font-weight: 400;
      color: $light-gray;

      @media (max-width: $breakpoint-small) {
        font-size: 0.75rem;
      }
    }

    cite {
      font-style: italic;
    }

  }

  .home__section {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .home__section--split {
    @extend .grid__col--1-of-2;
  }

  .home__section--full {
    @extend .grid__col--2-of-2;
  }

  .section__title {
    border-bottom: 1px solid;

    font-family: $font-sans-sc;
    text-transform: lowercase;

    color: $gray;
  }

  .section-list {
    list-style: none;
    li {
      margin-bottom: 2em;
      margin-left: 0;
    }
  }

  .section-list--social {
    li {
      display: inline-block;
      margin-right: 2em;
    }
    .section-item__title {
      font-style: normal;
      font-size: 1.125rem;
    }
  }

  .section-item {
    text-decoration: none;
  }

  .section-item__title {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 1.3;

    color: $black;
    transition: 0.3s;

    &:hover {
      color: $red;
    }
  }

  .section-item__title--secondary {
    font-size: 1.25rem;
    color: $gray;
  }

  .section-item__meta {
    font: 400 0.875rem/1 $font-sans-sc;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: lowercase;
    color: $light-gray;
  }
}
