/*---------------------------------------------------------------------------//

  Partial: Index

  Styles for index pages.

//---------------------------------------------------------------------------*/


// janky Android fixes for background-size: cover
html {
  height: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
}

.page--home {
  position: relative;
  background: url('/assets/images/exploratorium-kid.jpg')
              no-repeat center center fixed;
    -webkit-background-size: 100%;
       -moz-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

  .home-cover {
    padding-top: 10em;

    font-family: $font-sans;
    color: $white;

    .home-cover__text {
      @extend .grid__col--8-of-12;
      position: absolute;
    }

    .home-cover__title {
      margin-bottom: 0.25em;

      color: $white;
      font-size: 2.75em;
      font-weight: 600;
      line-height: 1.2;
    }

    .home-cover__description {
      font-size: 0.875em;
    }

    @media (max-width: $breakpoint-medium) {
      margin: 0 auto;
      max-width: 92%;
      font-size: 90%;
    }
  }

  .home-cover__caption {
    position: absolute;
    bottom: 0;
    right: 3em;

    max-width: 28em;

    font-family: $font-sans;
    color: $white;
    font-size: 12px;
    text-align: right;
    line-height: 1.3;
  }

}

.page--about {

  .about__content {
    font-family: $font-sans;

    .about__photo {
      margin-top: 8em;
    }

    section {
      margin-top: 2em;
      margin-bottom: 4em;
    }

    h2 {
      margin-bottom: 0.5em;

      font-family: $font-sans-sc;
      font-size: 1.25em;
    }

    @media (max-width: $breakpoint-medium) {
      margin: 0 auto;
      max-width: 92%;
    }
  }
}
