/*---------------------------------------------------------------------------//

  Partial: Post

  Post stylings.

//---------------------------------------------------------------------------*/

.posts, .post {
  margin-top: $baseline*2;
  margin-bottom: $baseline;
}

.post__header {
  margin-bottom: $baseline*2;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
}

.post__title {
  margin-bottom: 0;

  font: italic 400 2rem/1.3 $font-serif;
  letter-spacing: -1px;

  a {
    text-decoration: none;
    &:hover {
      color: inherit;
    }
  }
}

.post__title--list {
  font-size: 1.5rem;
  a:hover {
    color: $red;
  }
}

.post__date {
  font-family: $font-sans;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: lowercase;

  color: $light-gray;
}
