// -----------------------------------------------------------------------------
// Reset
// - loosely based on Meyer's reset (http://meyerweb.com/eric/tools/css/reset/)
// - opinionated reset that doesn't care to support fringe/outdated browsers
// -----------------------------------------------------------------------------

/* use border-box layout model using better practice, read:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-pra
   ctice/ */
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
	line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
  max-width: 100%;
}

// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

$font-serif: skolar, Georgia, serif;
$font-sans: franklin-gothic-urw, Helvetica, Arial, sans-serif;
$font-mono: Monaco, Courier, sans-serif;
$font-display: $font-sans;

$font-family-base: $font-sans;
$font-size-base: 1em;
$font-weight-base: 300;
$line-height-base: 1.4;

$background-color: #fefefe;
$text-color: #242424;
$highlight-color: #ff5449;
$white: #fff;
$black: #000;
$gray: #63636a;
$gray-200: #ccc;


// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

html {
  /* optimize font rendering */
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;

          font-variant-ligatures: common-ligatures;
  -webkit-font-variant-ligatures: common-ligatures;

  /* set base font size to 18px */
  font-size: 100%;

  @media (min-width: 768px) {
    font-size: 125%;
  }
}

body {
  color: $text-color;
  background-color: $background-color;
  font: $font-weight-base $font-size-base $font-family-base;
  line-height: $line-height-base;

  &.inverted {
    color: $white;
    background-color: $black;
    font-family: $font-sans;
  }
}

.box {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}


// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-family: $font-display;
  font-weight: 400;
}

h1, .alfa {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.1;
}

h2, .bravo {
  font-size: 1.5rem;
  line-height: 1.3;
}

h3, .charlie {
  font-size: 1.2rem;
}

h4, .delta {

}

h5, .echo {

}

h6, .foxtrot {

}

p {
  margin-bottom: 1.5rem;
  word-wrap: break-word;
  word-break: break-word;
}

p a, .text-link {
  border-bottom: 1px solid $highlight-color;

  &:hover {
    background-color: lighten($black, 95);
  }
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid $text-color;
}

figcaption p {
  font-family: $font-sans;
  font-size: 0.9rem;
  color: $gray;
}

.sans {
  font-family: $font-sans;
}

.caps {
  font-variant-caps: all-small-caps;
  font-feature-settings: "c2sc", "smcp";
      -moz-font-feature-settings: "c2sc", "smcp";
      -ms-font-feature-settings: "c2sc", "smcp";
      -webkit-font-feature-settings: "c2sc", "smcp";
}

.meta {
  color: #696969;
  font-family: $font-sans;
}

.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
}

hr {
  margin: 0 auto 2rem;
  border-width: 1px;
  border-style: solid;
  border-color: #eee;
}

%code-base {
  font-family: $font-mono;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f8f8f8;
}

code {
  @extend %code-base;
  display: inline;
  max-width: 100%;
  padding: 0 5px;
  overflow: auto;
  font-size: 0.75rem;
}

pre {
  @extend %code-base;
  padding: .3em .6em;
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: 1.5rem;
  line-height: 1.3;

  code {
    padding: 0;
    border: none;
  }
}

.section-header {
  color: $text-color;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}



// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------

.site-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: $font-sans;
  box-shadow: 0 1px 5px 0.5px rgba(0,0,0,.05);
  margin: 0 auto;
  padding: 1rem;
  line-height: 2rem;
}

.site-intro {
  flex: 0 1 auto;
}

.site-nav {
  flex: 0 1 auto;
}

.site-nav .site-nav-item {
  display: inline-block;
  margin-right: 0.5rem;

  color: $gray-200;

  a {
    border: none;
  }

  a:hover {
    background-color: inherit;
    color: $highlight-color;
  }

  &.active {
    color: $highlight-color;
  }
}

// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------
.content {
  padding-top: 2rem;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
}


.box-item {
  position: relative;
  width: 320px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 10px;
  justify-content: space-between;


  &:hover {
    -webkit-filter: opacity(0.7);
  }
}

.box-cover {
  max-height: 100%;
  max-width: 100%;
}

.box-header {
  margin-top: 0.25rem;
  font-size: 1rem;
  font-family: $font-sans;
}

.list {
  margin-bottom: 2rem;
}

// -----------------------------------------------------------------------------
// Work
// -----------------------------------------------------------------------------

.proj-intro {
  margin: 10px;
  margin-bottom: 2rem;
}

.proj-header {
  padding: 10px;
  margin-bottom: 0;
}

.proj-title {
  font-family: $font-sans;
  font-size: 2rem;
}

.proj-cover {
  display: block;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 360px;
  margin-bottom: 1rem;
}

.proj-content {
  p {
    max-width: 640px;
    font-size: 90%;
  }

  h2 {
    font-family: $font-sans;
    font-size: 1.5rem;
  }

  img {
    margin-bottom: 1rem;
  }
}

iframe {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}


// -----------------------------------------------------------------------------
// Post
// -----------------------------------------------------------------------------

.post-date {
  font-size: 1rem;
  line-height: 1.4;
}

.post-title {
  margin-bottom: 1rem;
}

.list-item-header {
  font-size: 1.5rem;
  font-weight: 400;
}

.post-header {
  margin-bottom: 2rem;
  border-bottom: 2px solid #131313;
}

.post-content {
  ul, ol {
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
}

.list-post {
  margin-bottom: 2rem;
}

// -----------------------------------------------------------------------------
// Utilities
// -----------------------------------------------------------------------------

.link-plain {
  @extend %text-link;
  border-bottom: none;
}

.center {
  margin: 0 auto;
}

// -----------------------------------------------------------------------------
// Moments
// -----------------------------------------------------------------------------

.moment {
  font-family: $font-sans;
  line-height: 1.3;
}

.moment-box {
  margin-bottom: 2em;
}

.moment-img {
  max-height: 100vh;
}

.moment-caption {
  margin-top: 1em;
  max-width: 450px;
}

.moment-location, .moment-date {
  text-transform: uppercase;
  font-weight: 500;
}

.moment-location {
  margin-bottom: 0;
}

.moment-date {
  margin-bottom: 1em;
}

.portrait {
  max-width: 580px;
  margin: 0 auto;
}
