<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>{{ page.title }} // WIKICHEN</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feeding">
    <link rel="shortcut icon" href="/touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/touch-icon.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://use.typekit.net/ggd0zlr.js"></script>
    {% if page.head %}
      {{ page.head }}
    {% endif %}
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <style>
      .wf-loading { visibility: hidden; }
      {% if page.style %}
      {{ page.style }}
      {% endif %}
    </style>
    {% include tracking.html %}
  </head>
  <body {% if page.class %}class="{{ page.class }}"{% endif %}>
    {% include header.html %}

    {{ content }}

    {% include scripts.html %}
  </body>
</html>
