---
layout: default
---

<body>
  {% include header.html %}
  <div class="site-wrap">
  <article class="post">
    <div class="content-wrap">
      <header class="post__header">
        <time class="post__date">{{ page.date | date: "%d %b %Y" }}</time>
        <h1 class="post__title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
      </header>
      {{ content }}
      <div class="fleuron"></div>
    </div>
    {% include comments.html %}
    </div>
  </article>
  </div>
  {% include scripts.html %}
</body>
